
    body {
        background-color:#ffff99;
        margin-left: 25px;     
    }
     
    h1 {
      border: 6px #ff6600 solid; 
      color: #ff6600;
      font-size: 40px;
      padding-left: 20px;
      font-family:Helvetica;
      font-weight: 900;
    }
     
     
    h2 {
    background-color: #ff6600;
    color: #ffff99;
    padding: 20px; 
    }
     
    ol {
     background-color: #ffcc00;
    }
     
    li {
     
    }
     
    p {
     border: 3px #ffcc00 solid;
     border-style: dotted;
    }
