*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.content{
    display: grid;
    /*grid-template-columns: 50% 50% 50%;*/
    /*grid-template-columns: 1fr 2fr 1fr;*/
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,minmax(100px,auto));
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 20px 20px;
}
.content div{
    background-color: rgb(43, 255, 244);
    padding:30px;
}
.content div:nth-child(even){
    background-color: brown;
}
.one{
    /*grid-column-start:4;
    grid-column-end:7;*/
    grid-column: 1/6;
}