@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-family: 'Kiwi Maru',sans-serif;
    font-size: 20px;
}
.Landing a{
    text-decoration: none;
}
a:link{
color: inherit;
}
a:visited{
    color:inherit;
}
.landing.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*landing*/
.Landing{
    background-image:url("https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
.Landing::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 102, 217);
    opacity: .3;
    z-index: -1;
}
.container{
    max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}
.Landing h1{
    display:inline-block;
    width: fit-content;
    font-size: 2em;
    position: relative;
    color: transparent;
    animation: text_reveal 1s ease forwards;
    animation-delay: 1s;
}
.Landing h1:nth-child(1){
    animation-delay: 1.5s;
}
.Landing h1:nth-child(2){
    animation-delay: 2.5s;
}
.Landing h1:nth-child(3){
    animation-delay: 3.5s;
}
.Landing h1 span{
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgb(214, 5, 50);
    animation: text_reveal_box 1s ease forwards;
    animation-delay:.5s;
}
.Landing h1:nth-child(1) span{
    animation-delay: 1s;
}
.Landing h1:nth-child(2) span{
    animation-delay: 2s;

}.Landing h1:nth-child(3) span{
    animation-delay: 3s;
}
.button{
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    color: beige;
    border:  3px solid rgb(199, 68, 90);
    border-radius: 50px;
    font-size: 18px;
    font-family: 'Kiwi Maru';
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s ease;
    transition-property: background-color, color;
    margin-top: 20px;
    position: relative;
}
.button:hover{
    color:white;
    background-color: rgb(199, 68, 90);
}
/*eof landing*/
/* service section*/
.services{
    flex-direction:column ;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
.title{
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.title span{
    text-transform: lowercase;
    color: red;
    font-size: 60px;
}
.contcard span{
    color: red;
}
.contcard{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    border-radius: 10px;
    background-image: url("https://media.cntraveller.in/wp-content/uploads/2019/03/womens-day-1366x768.jpg");
    background-size: cover;
    margin: 20px 0;
    color: rgb(255, 255,255) ;
    font-weight: 300;
    text-align:center;
    position:relative;
    z-index: 1;
    margin-top: 20px;
}
.card::after{
    content:'';
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 141, 222);
    opacity: .4;
    z-index: -1;
    border-radius: 10px;
}
.card1 h2{
    text-align: right;
}
.contcard p,.contcard img{
    margin: 10px 0;
}
/*eof service section*/
/*project section*/
.projects.container{
    display:flex ;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 50px;
    flex-direction: column;
}
.item{
    display: flex;
    padding: 1rem;
    z-index: 1;
    margin: 20px 0;
}
#card{
        background-color: white;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 1;
    }
.proimg:hover{
          filter: contrast(100%);
        }
.cardcontent{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
  }
  
.proimg{
    background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  /*filter: saturate(180%);*/
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);
  left: 25%;
  margin-bottom: 30px;
     max-width: 100%;
    height: auto;
}
.proimg::before {
    content: "";
	display: block;
    padding-top:5.25%;
}
.item:hover{
    box-shadow: 0 60px 60px -14px rgba(52, 53, 50, 0.233);
}
/*eof project section*/
/* Download resume*/


/* */
/*keyframes*/
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100%{
        color:wheat ;
        background-color: transparent;
    }
}
/*Eof keyframes*/